@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  
  html {
    @apply text-4 text-primary;
    font-size: 20px;
  }
  div,
  button,
  select,
  input,
  textarea,
  section {
    @apply rounded-default;
  }
  input,
  textarea,
  select {
    @apply bg-white border-0;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border-0 rounded-default bg-white;

  }

  div::-webkit-scrollbar-thumb{
      @apply rounded-full;
  }
  div::-webkit-scrollbar-track{
    @apply rounded-full
  }
  

  button,
  select,
  textarea,
  input,
  a {
    @apply cursor-pointer;
  }
  button,
  select,
  input,
  textarea {
    @apply m-1 p-1;
  }
  body {
    @apply bg-gradient-to-r from-pink-100 to-orange-200;
  }
  div {
    @apply m-2 p-2;
  }
  button {
    @apply rounded-full px-5;
  }
  h1 {
    @apply text-7;
  }
  h2 {
    @apply text-6;
  }
  h3 {
    @apply text-5;
  }
  h4 {
    @apply text-4;
  }
  h5 {
    @apply text-3;
  }
  h6 {
    @apply text-2;
  }
  p {
    @apply text-2;
  }
}
